<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  
    <style type="text/css">

    .full-height {
      height: 100%;
    }
    </style>
</head>
<body>
 
{% if origin == 'facebook' %}
    <div>
        <p>Logged in via Facebook</p>
        <p>Access token: {{ access_token }}</p>
        <p>Page metrics: {{ metrics_facebook }}</p>
    </div>
{% elseif origin == 'google' %}
    <div>
        <p>Logged in via Google</p>
        <p>Access token: {{ access_token }}</p>
        <p>Page metrics: {{ metrics_google }}</p>
    </div>
{% endif %}

<form action='{{ url_for('App\\Action\\PushAction') }}' id="postForm">
    <input name='access_token' value='{{ access_token }}' type="hidden">
    <input name='origin' value='{{ origin }}' type="hidden">
    <input name='metrics' value='{{ metrics }}' type="hidden">
    <input name='object_id'  type='text'  value='{{ object_id }}' pacehodler = 'object_id'>
    <br/>
    <input name='databoxtoken' value='{{ defaultdataboxtoken }}' type='text' placeholder='databoxtoken'>
    <br/>
    <button type="submit" name="submit">Push metrics</button>
</form>

<div>
     <button onclick="setInterval(posttoserver,2000)">Periodical push</button> 
</div>
    
<div id="result" class="full-height"></div>

<!--
<script>
// post to server 
$(document).ready(function(){
  //$("#postForm").submit();
  //setInterval(posttoserver,2000);
}); 

function posttoserver(){
    $("#postForm").submit();
}

// Attach a submit handler to the form
$( "#postForm" ).submit(function( event ) {
  
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    access_token = $form.find( "input[name='access_token']" ).val(),
    origin = $form.find( "input[name='origin']" ).val(),
    object_id = $form.find( "input[name='object_id']" ).val(), 
    metrics = $form.find( "input[name='metrics']" ).val(), 
    databoxtoken = $form.find( "input[name='databoxtoken']" ).val(), 
    url = $form.attr( "action" );


 if(databoxtoken !==''){
 
    // Send the data using post
    var posting = $.post( url, { access_token: access_token, origin: origin, object_id: object_id, metrics: metrics, databoxtoken: databoxtoken} );

    // Put the results in a div
    posting.done(function( data ) {

      $( "#result" ).append(  "<p>" + data + "</p>");
    }); 
 }
     
});
</script>
 -->
</body>
</html>

